name: Test

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

jobs:
  test:
    name: Tests on ${{ matrix.go-version }} ${{ matrix.platform }}
    strategy:
      matrix:
        go-version: ['1.19', '1.20']
        # We use macos-11 over macos-latest because macos-latest defaults to Catalina(10.15) and not Big Sur(11.0)
        # We can switch to macos-latest whenever Big Sur becomes the default
        # See https://github.com/actions/virtual-environments#available-environments
        platform: [ubuntu-latest, macos-11]
    runs-on: ${{ matrix.platform }}
    
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-go@v3
      with:
        go-version: ${{ matrix.go-version }}
    - run: make test
    # - uses: codecov/codecov-action@v1
    #   env:
    #     OS: ${{ matrix.platform }}
    #     GO: ${{ matrix.go-version }}
    #   with:
    #     files: ./c.out
    #     env_vars: OS,GO
    # - run: echo "GOPATH=$(go env GOPATH)" >>"$GITHUB_ENV"

  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v3
        with:
          go-version-file: ./go.mod
          check-latest: true
      - run: make lint
        
